TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=eui64
NAME=ens33
UUID=58a2e0f0-16ea-4a15-ace2-f55a9a9a2bb2
DEVICE=ens33
ONBOOT=yes
IPADDR=192.168.10.2
PREFIX=24
GATEWAY=192.168.10.1
DNS1=192.168.10.3
DNS2=8.8.8.8
PEERDNS=no 